body {
  background-color: #f0f8ff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header-title {
  background-color: #343a40;
  padding: 20px;
  color: white;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.package-form-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 600px;
}

.package-form {
  width: 100%;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.package-form h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  color: #495057;
}

.package-form input,
.package-form select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.address-row {
  display: flex;
  justify-content: space-between;
}

.address-row input {
  width: 48%;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

.rate-comparison-table {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
}

.rate-comparison-table th,
.rate-comparison-table td {
  border: 1px solid #ced4da;
  padding: 12px;
  text-align: center;
}

.rate-comparison-table th {
  background-color: #f8f9fa;
  color: #495057;
}

.rate-comparison-table td {
  background-color: #ffffff;
}

.rate-link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  display: block;
  padding: 10px;
  border-radius: 4px;
}

.rate-link:hover {
  color: white;
  background-color: #3498db;
}
