body {
  background-color: #e9ecef;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: 	#fffaf0	; /* Apply the same background color here if needed */
  min-height: 100vh; /* Ensure the container covers the full height */
}



.header-title {
  background-color: #343a40;
  padding: 20px;
  color: white;
  text-align: left; /* Align text to the left */
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 60px; /* Adjust the size as needed */
  margin-right: 20px;
}

.header-content h1 {
  font-size: 1.5rem; /* Adjust the font size as needed */
  margin: 0;
}

.package-form-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 600px;
}

.package-form {
  width: 100%;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.package-form h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  color: #495057;
}

.package-form input,
.package-form select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.address-row {
  display: flex;
  justify-content: space-between;
}

.address-row input {
  width: 48%;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

.rate-comparison-table {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
}

.rate-comparison-table th,
.rate-comparison-table td {
  border: 1px solid #ced4da;
  padding: 12px;
  text-align: center;
}

.rate-comparison-table th {
  background-color: #f8f9fa;
  color: #495057;
}

.rate-comparison-table td {
  background-color: #ffffff;
}

.rate-link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  display: block;
  padding: 10px;
  border-radius: 4px;
}

.rate-link:hover {
  color: white;
  background-color: #007bff;
}

.form-group {
  margin-bottom: 15px;
}

.form-group.has-error input,
.form-group.has-error select {
  border-color: red;
}

.error-text {
  color: red;
  font-size: 0.9em;
}

.required {
  color: red;
  margin-left: 5px;
}
